asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
django-stubs==6.0.2
django-stubs-ext==6.0.2
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
psycopg==3.3.3
psycopg-binary==3.3.3
python-dotenv==1.0.0
sqlparse==0.5.5
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
